body {
    background-image: url(../../assets/Images/email-pattern.png);
    height: 100%;
    margin:0;

    

    
}

.wrapper{
    min-height: 100%;
    margin-bottom:-100px;
    
}

.wrapper:after{
    content:"";
    display:block;
}

.wrapper:after,footer{
height:100px;
}
h1{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    
    




}
h2{
   color: #4aaaa5;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
background-color: #ffffff;
background-size:cover;
background-position: center;

}

.logo {
    background: #4aaaa5;
    height: 35px;


}

.nav{
    
    position: fixed;
    width: 100%;
    line-height: 60px;
  

}

nav ul{
    float: right;
    margin:0;
    padding:0;
    padding-right: 42px;    
}

nav ul li{
    display: inline-block;
    padding: 16px;
}

p{
    color: #777777;
    text-align: center;
}

footer {
background-color: #666666;

}